<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/logincss.css">
</head>
<body>
    
    <div class="box">
        <div class="form">
            <form action="/loginPage/verification/{{user.Username}}" onsubmit="return checkpassword()" method="post">
                <h2>Reset Password</h2>
                <div class="inputBox">
                    <input type="text" required="required" name="otp">
                    <span>OTP</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id="password" required="required" name="Password">
                    <span>New Password</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id="confirm-password" required="required">
                    <span>Confirm Password</span>
                    <i></i>
                </div>
                <div class='button' >
                    <input type="submit" value="Reset">
                </div>
            </form>
        </div>
    </div>

    <script>
        function checkpassword(){
            var password=document.getElementById("password").value;
            var confirmPassword=document.getElementById("confirm-password").value;

            if(password!==confirmPassword){
                alert("Password does not match each other!");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>