<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers</title>
    <link rel="stylesheet" href="../static/trainers.css">
</head>
<body>
{%for row in trainer%}
    <div class="card">
        <div class="imgbox">
            <img src="/{{row.file}}" alt="">
        </div>
        <div class="content">
            <h2>{{row.Fullname}}</h2>
            <p>{{row.Occupation}}<br>
            {%if row.Fees=='0'%}
                Free<br>
            {%else%}
                Rs.{{row.Fees}}<br>
            {%endif%}
            {{row.Experience}} of Experience<br>
            </p>
        </div>
    </div>
{%endfor%}

</body>
</html>